# Zorunlu paketler
streamlit>=1.32.0
pandas>=2.2.0
requests>=2.31.0
googletrans==4.0.0rc1
packaging>=23.2
plotly>=5.19.0
seaborn>=0.13.2
matplotlib>=3.8.0
numpy>=1.26.0
google-play-scraper>=1.2.7
# pillow                        # Ek görsel ihtiyaçlarında
# python-dateutil               # Pandas ile genelde otomatik gelir

# Not:
# googletrans yoksa çeviri bölümü orijinal metni korur.